asgiref==3.2.10
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cryptography==3.0
Django==2.1.15
django-crispy-forms==1.9.2
django-pyodbc-azure==2.1.0.0
django-storages==1.9.1
djangorestframework==3.11.1
idna==2.10
pycparser==2.20
pyodbc==4.0.30
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
