<div class="card">
<div class="card-header" id="headingOne">
  <h2 class="mb-0">
    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      Filter your tasks
    </button>
  </h2>
</div>
<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
  <div class="card-body">
    <input class="form-control" id="byProject" type="text" placeholder="Filter by Project" aria-label="Search" onkeyup="myFunction(3, this.id)">
    <input class="form-control" id="byStory" type="text" placeholder="Filter by Story" aria-label="Search" onkeyup="myFunction(2, this.id)">
  </div>
</div>
</div>