<div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Pomodoro
        </button>
      </h2>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="pomodoro_all mb-4" id="pomodoro">
            <div class="pomodoro-margins">
                <div class="col">
                    <input type="text" class="form-control" name="project" placeholder="Project">
                </div>
            </div>
            <div class="pomodoro-container">
                <div class="pomodoro-timer" id="time">
                    45:00
                </div>
            </div>
            <div class="pomodoro-margins">
                <button id="btn-pomodoro" class="btn btn-outline-danger" type="submit">Pomodoro!</button>
                <button class="btn btn-outline-danger" type="submit">Stop!</button>
            </div>
        </div>
      </div>
    </div>

</div>