<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <div style="width: 962px;">Filter your tasks</div>
            <div>
                <button type="submit" class="btn btn-outline-info btn-sm mr-2" onclick="element_show(['filters'])">
                    Show Filtering
                </button>
            </div>

{#            <div class="show_answer">#}
{#                <button class="btn btn-outline-success btn-sm" type="submit" onclick="myFunction('sandbox', {{ forloop.counter }})">Show sandbox</button>#}
{#            </div>#}
        </li>
    </ol>

    <div id="filters" style="display: none">
        <input class="form-control" id="byProject" type="text" placeholder="Filter by Project" aria-label="Search" onkeyup="myFunction(0)">
        <input class="form-control mb-4" id="byStory" type="text" placeholder="Filter by Story" aria-label="Search" onkeyup="myFunction(1)">
    </div>


</nav>