{% extends 'todo/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">User: {{ user }}</li>
        </ol>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Your projects:</li>
        </ol>
    </nav>

    <table class="table table-hover table-bordered" id="myTable">
        <thead>
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-9">Project</th>
                <th scope="col" class="col-1">Done</th>
                <th scope="col" class="col-1">To do</th>
            </tr>
        </thead>

        {% for project in projects %}
        <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ project.names }}</td>
                <td>{{ project.done }}</td>
                <td>{{ project.undone }}</td>
            </tr>
        </tbody>
        {% endfor %}

    </table>

{% endblock content %}