{% extends 'todo/layout.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Manage your tasks</li>
            </ol>
        </nav>

        <form method='POST' action='{% url 'add' %}' class="form-inline mb-4">
        {% csrf_token %}
            <div class="input-group">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="project" placeholder="Project">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="story" placeholder="Story">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="task" placeholder="Task">
                    </div>

                    <div class="btn-toolbar mb-2" aria-label="First group">
                        <button class="btn btn-outline-secondary mr-5" type="submit" id="button-addon2">Add</button>
                        <a href="{% url 'delete_completed' %}"><button type="button" class="btn btn-warning mr-4">Delete completed</button></a>
                        <a href="{% url 'delete_all' %}"><button type="button" class="btn btn-warning mr-2">Delete all tasks</button></a>
                    </div>

                </div>
            </div>
        </form>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Filter your tasks</li>
            </ol>

            <input class="form-control" id="byProject" type="text" placeholder="Filter by Project" aria-label="Search" onkeyup="myFunction(0)">
            <input class="form-control mb-4" id="byStory" type="text" placeholder="Filter by Story" aria-label="Search" onkeyup="myFunction(1)">
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">POMODORO</li>
            </ol>
            <div class="pomodoro_all mb-4">
                <div class="pomodoro-margins">
                    <div class="col">
                        <input type="text" class="form-control" name="project" placeholder="Project">
                    </div>
                </div>
                <div class="pomodoro-container">
                    <div class="pomodoro" id="time">
                        45:00
                    </div>
                </div>
                <div class="pomodoro-margins">
                    <button id="btn-pomodoro" class="btn btn-outline-danger" type="submit">Pomodoro!</button>
                    <button class="btn btn-outline-danger" type="submit">Stop!</button>
                </div>
            </div>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Table with your tasks</li>
            </ol>
        </nav>

        <table class="table table-hover table-bordered" id="myTable">
            <thead>
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-2">Project</th>
                    <th scope="col" class="col-2">Story</th>
                    <th scope="col" class="col-5">Task</th>
                    <th scope="col" class="col-1">Status</th>
                    <th scope="col" class="col-1">Delete</th>
                </tr>
            </thead>

            {% for task in tasks %}
            <tbody>
                <tr>
                    {% if task.complete %}
                        <th class="todo_complete" scope="row">{{ forloop.counter }}</th>
                        <td class="todo_complete">{{ task.project }}</td>
                        <td class="todo_complete">{{ task.story }}</td>
                        <td class="todo_complete">{{ task.task }}</td>
                        <td class="todo_complete">
                            <a href="{% url 'uncompleted' task.id %}"><button type="button" class="btn btn-warning btn-sm">Undone</button></a>
                        </td>
                        <td class="todo_complete">
                            <a href="{% url 'delete_one' task.id %}"><button type="button" class="btn btn-warning btn-sm">Delete</button></a>
                        </td>
                    {% else %}
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ task.project }}</td>
                            <td>{{ task.story }}</td>
                            <td><a href="{% url 'edit' task.id %}">{{ task.task }}</a></td>
                            <td>
                                <a href="{% url 'completed' task.id %}"><button type="button" class="btn btn-warning btn-sm">Done</button></a>
                            </td>
                            <td>
                                <a href="{% url 'delete_one' task.id %}"><button type="button" class="btn btn-warning btn-sm">Delete</button></a>
                            </td>
                    {% endif %}
                </tr>
            </tbody>
            {% endfor %}

        </table>
    {% else %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Login to see your tasks</li>
            </ol>
        </nav>
    {% endif %}

{% endblock content %}
