{% extends 'todo/layout.html' %}

{% block content %}

    {% if user.is_authenticated %}

        {% include 'todo/parts/home_task_managing.html' %}
        {% include 'todo/parts/home_filtering.html' %}
        {% include 'todo/parts/home_pomodoro.html' %}
        {% include 'todo/parts/home_table2.html' %}
        
    {% else %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Login to see your tasks</li>
            </ol>
        </nav>
    {% endif %}

{% endblock content %}
