{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>To do list</title>

    {% include 'todo/layout_parts/links.html' %}

</head>

<body>
    <nav class="navbar navbar-dark bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">MY TO DO LIST</a>

            <div id="authbar">
                {% if user.is_authenticated %}
                    <div class="auth"><a href="{% url 'logout' %}">Logout</a></div>
                    <div class="auth"><a href="{% url 'profile' %}">Profil</a></div>
                    <div style="clear: both;"></div>
                {% else %}
                    <div class="auth"><a href="{% url 'register' %}">Register</a></div>
                    <div class="auth"><a href="{% url 'login' %}">Login</a></div>
                    <div style="clear: both;"></div>
                {% endif %}
            </div>

        </div>
    </nav>

    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

    {% block content %}
    {% endblock content %}
    </div>

    {% include 'todo/layout_parts/scripts.html' %}

</body>

</html>